.cabecalho {
    display: flex;
    background-color: #673ab7;
    margin-bottom: 40px;
    align-items: center;
    height: 120px;
}

.botao{
    float: right;
    margin-right: 20px;
    width: 220px;
    background-color: aliceblue;
}

.button-container{
    margin-left: 50px;
}