<header class="cabecalho">

  <div class="button-container" routerLink="/listarFilmes">
    <button mat-fab color="accent" aria-label="home">
      <mat-icon>home</mat-icon>
    </button>
  </div>

  <div class="container">
    <button mat-raised-button color="accent" type="button" class="botao" routerLink="/listarGeneros">Listar
      gêneros</button>
    <button mat-raised-button color="accent" type="button" class="botao" routerLink="/criarFilme">Adicionar novo
      filme</button>
  </div>
</header>
<!--
        <a routerLink="/listarFilmes"><img src="../../../assets/images/movie-icon.jpg" alt="Logo da aplicação Locadora" ></a>

-->