<section class="container">
    <header>
        <h2>Adicione um novo filme:</h2>
    </header>
    <form>
        <mat-form-field class="formbg">
            <mat-label>Título do filme</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="formbg">
            <mat-label>Diretor</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="formbg">
            <mat-label>Duração</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="formbg">
            <mat-label>Gênero</mat-label>
            <mat-select>
                <mat-option value="one">ngFor aqui</mat-option>
                <mat-option value="two">Second option</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="formbg">
            <mat-label>Imagem</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="formbg">
            <mat-label>Sinopse</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
    </form>
    <div class="alinha-botao">
        <button mat-raised-button color="accent" type="button" class="botao"
            routerLink="/listarFilmes" (click)="postFilme()">Adicionar</button>
        <button mat-raised-button color="accent" type="button" class="botao"
            routerLink="/listarFilmes">Cancelar</button>
    </div>
</section>